@model Attendance
@{
    ViewData["Title"] = "الحضور وإلانصراف / تعديل";
}

@*<h1 dir="rtl">تعديل حضور موظف جديد</h1>
*@<form method="post" asp-action="Edit" dir="rtl">


    @*<input hidden asp-for="Id" />*@
    <input hidden asp-for="EmployeeId" />

    <div>
        <label>اسم الموظف</label>
        <input class="form-control border" value="@Model.EmployeePersonalData?.Name" readonly />
    </div>


    <div>
        <label asp-for="Attend"> وقت الحضور</label>

        <input class="form-control border" asp-for="Attend" />
        <span asp-validation-for="Attend" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Departure"> وقت الإنصراف</label>
        <input class="form-control border" asp-for="Departure" />
        <span asp-validation-for="Departure" class="text-danger">

        </span>
    </div>
    <input type="submit" value="تعديل" class="btn btn-success mt-2" />
    <a asp-action="Index" class="btn btn-secondary">العودة إلى القائمة</a>
</form>

@section Scripts{
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}