@model Domain.Models.OfficialVacations
@{
    ViewData["Title"] = "الأجازات الرسمية / التفاصيل";
}




    
    <div class="card bg-light mx-auto mt-5" style="width:400px">
@*        <h4 class="text-center">التفاصيل</h4>
*@        <div class="card-body">
            <h5 class="card-title">  الاسم : @Model.Name    </h5>
            <h5 class="card-text">    التاريخ : @Model.Date</h5>
            <a asp-area="" asp-controller="OfficialVacations" asp-action="Create" class="btn btn-primary">رجوع</a>
        </div>
    </div>


    @section Scripts {
        

        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />


    }
