@{
    ViewData["Title"] = "الرئيسية";
}

<partial name="_PartialHomeCards" />

<partial name="_PatrialAccountIndex" />

<div class="my-3">
    <img src="~/images/hr.jpg"width="990"height="300" class=" rounded" style="object-fit:cover" />
</div>