@model Department
@{
    ViewData["Title"] = "الاقسام/ اضافة";
}

@*<h1>اضافة قسم</h1>
*@
<form method="post">
    <div>
    <label asp-for="Name"></label>
        <input class="form-control border" asp-for="Name" />
    <span asp-validation-for="Name" class="text-danger" ></span>
    </div>

    <div> 
        <input type="submit" value="حفظ" class="btn btn-primary" />
    </div>
</form>

